{% extends 'instagram/base.html' %}
{% block style %}
    {{ block.super }}
{% endblock style %}


{% block content %}

<div class="row center-align">
    <form method="post" action="" role="form" class="col s12">
    </h3>
      <div class="row">
        {% csrf_token %}
        {{ form.id }}
        <h3>Change password</h3>
        <div class="input-field col s12">
          {{ form.old_password }}
          <label for="old_password">Old password</label>
        </div>
      </div>
{% endblock content %} 