{% extends 'instagram/base.html' %}
{% block style %}
    {{ block.super }}
{% endblock style %}


{% block content %}

<section class="section">
  <div class="container">

     
    <div class="columns is-mobile is-centered">
<div class="column is-half">

    <nav class="level is-mobile">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Tweets</p>
            <p class="title">3,456</p>
          </div>
        </div>
    

 
    

</div>
</div>


</div> 
</section>
{% endblock content %}      