{% extends 'instagram/base.html' %}
{% block style %}
    {{ block.super }}
{% endblock style %}


{% block content %}

<section class="section">
  <div class="container">

     
    <div class="columns is-mobile is-centered">
<div class="column is-half">


    <!-- Main container -->
<nav class="level">
    <!-- Left side -->
    <div class="level-left">
      <div class="level-item">
        <p class="subtitle is-5">
          <strong>123</strong> posts
        </p>
      </div>
      <div class="level-item">
        <div class="field has-addons">
          <p class="control">
            <input class="input" type="text" placeholder="Find a post">
          </p>
          <p class="control">
            <button class="button">
              Search
            </button>
          </p>
        </div>
      </div>
    </div>

 
    

</div>
</div>


</div> 
</section>
{% endblock content %}      